APP_BASE_URL="http://localhost:5000"
API_BASE_URL="http://localhost:8080"


DISCORD_WEBHOOK_URL_BOUNTIES=""

GITHUB_CLIENT_SECRET="6e44534a220cc69bcbb56631330b9e8f1a9d9e9a"
GITHUB_CLIENT_ID="Ov23liFE7A1kj5XGStSP"
GITHUB_REDIRECT_URI="http://localhost:8080/api/v1/oauth/github/callback"
GITHUB_REDIRECT_URL="http://localhost:3000/auth"
GITHUB_WEBHOOK_SECRET="NTMfrt424684321165582153115"

JWT_SECRET_KEY="435tfu67io9999990pjkl"

POSTGRES_DB="dev"
POSTGRES_HOST="db"
POSTGRES_PASSWORD="dev"
POSTGRES_PORT="5432"
POSTGRES_USER="dev"

REDIRECT_URL="http://localhost:3000/auth"

STRIPE_CLIENT_ID=""
STRIPE_REDIRECT_URL="http://localhost:3000/connect/stripe"
STRIPE_SECRET_KEY=""


VITE_API_BASE_URL="http://localhost:8080"

VITE_GITHUB_CLIENT_ID="Ov23liFE7A1kj5XGStSP"
VITE_GITHUB_REDIRECT_URI="http://localhost:8080/api/v1/oauth/github/callback"

VITE_GTAG=""

VITE_STRIPE_CLIENT_ID=""
VITE_STRIPE_REDIRECT_URI="http://localhost:8080/api/v1/oauth/stripe/callback"
