API_BASE_URL="http://localhost:8080"
APP_BASE_URL="http://localhost:3000"

CONTACT_MAIL_ADDRESS="noreply@example.com"

DB_HOST="superserver"
DB_NAME="superdb"
DB_PORT="5432"
DB_PWD="superpassword"
DB_USER="root"

DISCORD_BOUNTIES_WEBHOOK_URL="https://discord.com/api/webhooks/.../....."
DISCORD_ERRORS_WEBHOOK_URL="https://discord.com/api/webhooks/.../....."
DISCORD_EVENTS_WEBHOOK_URL="https://discord.com/api/webhooks/.../....."

GITHUB_CLIENT_ID="funderctodevopssyscybersecsuperhuman"
GITHUB_CLIENT_SECRET="gptgooglestackoverflow"

GITHUB_REDIRECT_URI="http://localhost:8080/v1/oauth/github/callback"
GITHUB_REDIRECT_URL="http://localhost:3000/profile"

GITHUB_WEBHOOK_SECRET="supersecret"

JWT_SECRET_KEY="supersecretjwt"

NOREPLY_MAIL_ADDRESS="pleasereply@example.com"
NOREPLY_MAIL_PASSWD="lifeisfuckedupchangemymind"

RABBITMQ_HOST="farmserver"
RABBITMQ_MANAGEMENT_PORT="15672"
RABBITMQ_PASSWD="xoxoxo"
RABBITMQ_PORT="5672"
RABBITMQ_USER="mylove"

STRIPE_CLIENT_ID="ca_..."
STRIPE_REDIRECT_URI="http://localhost:8080/v1/oauth/stripe/callback"
STRIPE_REDIRECT_URL="http://localhost:3000/profile"
STRIPE_SECRET_KEY="sk_test_..."


SUPPORT_MAIL_ADDRESS="noreply@example.com"

VITE_API_BASE_URL="http://localhost:8080"
VITE_GITHUB_CLIENT_ID="funderctodevopssyscybersecsuperhuman"
VITE_GITHUB_REDIRECT_URI="http://localhost:8080/v1/oauth/github/callback"
VITE_GTAG="G-OOGLESEESYOU"
VITE_STRIPE_CLIENT_ID="ca_..."
VITE_STRIPE_PUBLIC_KEY="pk_test_..."
VITE_STRIPE_REDIRECT_URI="http://localhost:8080/v1/oauth/stripe/callback"
